
@media (max-width: 480px) {

}

@media (max-width: 767px) {

}

@media (min-width:768px){

  

} 
@media (max-width: 991px) and (min-width: 768px) {


  

}
@media (max-width: 1200px) and (min-width: 991px) {
 
    .join-us-slider .slick-active:not(.slick-center) {
       
    margin-top: 157.1px;

    }

    .join-us-slider .slick-active:not(.slick-center):before {
      
        background: linear-gradient(0,#f8f8f8 79.5%, transparent 23%);
     
    }
 
}



@media (max-width: 1400px) and (min-width: 1200px) {

    .join-us-slider .slick-active:not(.slick-center) {
     
        margin-top: 158.1px;
    }

    .join-us-slider .slick-active:not(.slick-center):before {
      
        background: linear-gradient(0,#f8f8f8 78.5%, transparent 23%);
     
    }

}