
@media (max-width: 480px) {

}

@media (max-width: 767px) {

    .custom-btn {
        font-size: 15px;
        font-weight: 300;
    }    
 

    .middle-head,
    .nav-right{

        display: none;

    }

.navbar-brand img{

    width: 100px;

}

.navbar>.custom-container{

    width: 100%;

}

.header-banner p {
  
    font-size: 13px;
}

.header-banner a {
    font-size: 10px;
}

.slider-meta{
    bottom: 5rem;
    left: 0;
}

.main-slider .slick-prev,
.main-slider .slick-next,
.products-carousel-section .prev, 
.products-carousel-section .next{
    
    display: none !important;

}

.section-title h2{

    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;

}

.off-code {
    padding: 4rem 30px;
}
.off-code h2{

    font-size: 30px;
    line-height: 35px;

}

.off-code p,
.off-code p .gredient{
font-size: 14px;
line-height: 21px;
}

.products-carousel-section .title-left{
    flex-direction: column;
    align-items: flex-start;
}

.title-left h3{
font-size: 22px;
line-height: 33px;
}

.product-bx .tags,
.product-bx .fav-icon,
.product-colors{

    display: none !important;

}

.product-bx .col-lg-4{

    order: 3;
}

.our-promise {
    padding: 3rem 0;
}

.our-promise p:last-child{

    display: none;

}

.our-promise h3{

font-weight: 500;
font-size: 24px;
line-height: 26px;

}

}

/* max 767px END */

@media (max-width:991px){

    .custom-container{
        padding-right: 24px;
        padding-left: 24px;
    }

} 
@media (max-width: 991px) and (min-width: 768px) {


  

}




@media (max-width: 1200px) and (min-width: 991px) {
 
    .join-us-slider .slick-active:not(.slick-center) {
       
    margin-top: 157.1px;

    }

    .join-us-slider .slick-active:not(.slick-center):before {
      
        background: linear-gradient(0,#f8f8f8 79.5%, transparent 23%);
     
    }
 
}


@media (min-width:960px){
    .custom-container{
        margin-left: auto;
        margin-right: auto;
        padding-right: 48px;
        padding-left: 48px;
        max-width: 1919px;
        width: 100%;
    }
    
    }

@media (max-width: 1400px) and (min-width: 1200px) {

    .join-us-slider .slick-active:not(.slick-center) {
     
        margin-top: 158.1px;
    }

    .join-us-slider .slick-active:not(.slick-center):before {
      
        background: linear-gradient(0,#f8f8f8 78.5%, transparent 23%);
     
    }

}

@media (min-width:1920px){

    .custom-container {
        margin-left: auto;
        margin-right: auto;
    }

}